
@model TenderIndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cssVendorSpecification{
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css">
}

    @section cssPageSpecification
    {

    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/forms/form-validation.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/forms/form-wizard.css">
}

    <!-- BEGIN: Content-->
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Maliyet Aşamaları İzleme</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="index.html">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="#">İhaleler</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                       Genel Liste
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="content-body">
                <!-- Responsive Datatable -->
                <section id="responsive-datatable">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header border-bottom">
                                    <h4 class="card-title">İhale Listesi</h4>
                                    <a class="btn btn-gradient-success" asp-action="AddTender" asp-controller="Tender"> <span class="menu-item text-truncate" data-i18n="Clipboard">Yeni İhale</span></a>
                                </div>
                                <div class="card-datatable">
                                    <table class="dt-responsive table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>İşin Adı</th>
                                                <th>İhale Türü</th>
                                                <th>Birim</th>
                                               <th>İhalenin Geldiği Tarih</th>
                                               <th>Durumu</th>
                                               <th>Detay</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--/ Responsive Datatable -->

            </div>
        </div>
          
    <!-- END: Content-->
    <!-- END: Content-->
    @section JsPageVendorSpecification
    {
    <script src="~/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/responsive.bootstrap4.js"></script>
    <script src="~/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>
    
<script type="text/javascript">
$(function() {

    $.ajax({
        type: "GET",
        url: "/Tender/GetAllTender",
        datatype: "json",
        success: OnSuccess,
             failure: function (response) {
                    alert(response.d);
                },
                error: function (response) {
                    alert(response.d);
                }

    });
    console.log("function");
    });
    function OnSuccess(response) {
        console.table(response);
        
        $(".dt-responsive").DataTable(
            {
                bLengthChange: true,
                bFilter: true,
                bSort: true,
                bPaginate: true,
                data: response,
                columns: [
                    { 'data': 'tenderID' },
                    { 'data': 'isinAdi' },
                    { 'data': 'ihaleTuru' },
                    { 'data': 'birimAdi' },
                    { 'data': 'ihaleGeldigiTarih' },
                    { 'data': 'durum' },
                    {
                        "render": function(data, type, full, meta) {
                            return '<a class="btn btn-info" href="/Tender/TenderDetails/' +
                                full.tenderID + '">Detaylar</a>';
                            console.log(full.TenderID);
                        }
                    },
                ],
                columnDefs: [
                    {
                        className: 'control',
                        orderable: false,
                        targets: 0
                    }
                ],
                dom:
                    '<"d-flex justify-content-between align-items-center mx-0 row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6"f>>t<"d-flex justify-content-between mx-0 row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal({
                            header: function(row) {
                                var data = row.data();
                                return ' Kişi Bilgileri';
                            }
                        }),
                        type: 'column',
                        renderer: $.fn.dataTable.Responsive.renderer.tableAll({
                            tableClass: 'table'
                        })
                    }
                },
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json",
                    paginate: {
                        // remove previous & next text from pagination
                        previous: '&nbsp;',
                        next: '&nbsp;'
                    }
                }
            });
        $('.dataTables_filter .form-control').removeClass('form-control-sm');
        $('.dataTables_length .custom-select').removeClass('custom-select-sm').removeClass('form-control-sm');
    };

</script>
}
    @section JsPageSpecification
    {
    <script src="~/app-assets/js/core/app-menu.js"></script>
    <script src="~/app-assets/js/core/app.js"></script>
    <!-- END: Theme JS-->
}

   

  
    
