@model TenderModel
@{
    ViewData["Title"] = "İhaleDuzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section cssVendorSpecification{
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/forms/select/select2.min.css">
}

    @section cssPageSpecification
    {


}
    <section id="basic-input">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">İhale Detay Bilgileri</h4>
                    </div>
                    <div class="card-body">
                        <form class="form" method="post" asp-action="TenderEdit" enctype="multipart/form-data">
                                @if (ViewBag.success == "true")
                                    {
                                        <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                            <div class="alert-body">
                                                <div class="alert-icon"><i class="fa fa-check"></i></div>
                                           Bilgileriniz başarılı bir şekilde eklenmiştir.
                                            </div>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Kapat">
                                            <span aria-hidden="true">*</span>
                                            </button>
                                            </div>

                                    }
                                    @if (ViewBag.success == "false")
                                    {
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            <div class="alert-body">
                                                <div class="alert-icon"><i class="fa fa-check"></i></div>
                                           Bilgileriniz başarılı bir şekilde eklenmiştir.
                                            </div>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Kapat">
                                            <span aria-hidden="true">*</span>
                                            </button>
                                            </div>
                                    }


                            <div class="row">
                                <div class="col-xl-6 col-md-6 col-12 mb-1">
                                    <div class="form-group">
                                        <label for="basic input">İhale Türü</label>

                                        <select class="select2 form-control form-control-lg" asp-for="TenderTypeId" asp-items="@ViewBag.TenderTypes">
                                        </select>

                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 col-12 mb-1">
                                    <div class="form-group">
                                        <label for="basicInput">İhale Prosedürü</label>
                                        <input type="text" asp-for="TenderingProcedure" class="form-control" />
                                        <span asp-validation-for="TenderingProcedure" class="text-danger"></span>
                                         <input type="hidden" asp-for="TenderID" />
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6 col-12 mb-1">
                                    <div class="form-group">
                                        <label for="basicInput"> İşin Adı </label>
                                        <input type="text" asp-for="JobName" class="form-control"  />
                                        <span asp-validation-for="JobName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="basicInput"> Birim </label>
                                        <select class="select2 form-control form-control-lg" asp-for="UnitId" asp-items="@ViewBag.Units">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="basicInput">İhale Kayıt No</label>
                                        <input type="text" class="form-control" asp-for="TenderRegisterNo" />
                                        @*<span asp-validation-for="TenderRegisterNo" class="text-danger"></span>*@
                                    </div>
                                </div>
                                <div class="col-xl-2 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="basicInput">İhale Tarihi</label>
                                        <input type="text" asp-for="TenderDate" class="form-control date-mask" placeholder="2021-01-01" />
                                        <span asp-validation-for="TenderDate" class="text-danger"></span>
                                    </div>
                            
                                </div>
                                           <div class="col-xl-2 col-md-6 col-12">
                     <div class="form-group">
                                       <label for="basicInput">İhalenin Geldiği Tarih</label>
                                        <input type="text" asp-for="TenderDateArrived" class="form-control date-mask-1" placeholder="2021-01-01" />
                                        <span asp-validation-for="TenderDateArrived" class="text-danger"></span>
                                    </div>
                            
                                </div>
                                <div class="col-xl-12 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="basicInput">İşin Türü ve Miktarı</label>
                                        <input type="text" class="form-control" asp-for="JobTypeWorkLoad" />
                                        <span asp-validation-for="JobTypeWorkLoad" class="text-danger"></span>
                                    </div>
                                </div>


                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="basicInput">Yaklaşık Belediye</label>
                                        <input type="text" class="intro form-control" asp-for="OpproximateCost" placeholder="10,000">
                                       <span asp-validation-for="JobTypeWorkLoad" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="basicInput">Diğer Kurumlarda Yapılmış Benzer İşlerin Sözleşme Tutarı</label>
                                        <input type="text" class="intro form-control" asp-for="OtherFoundationContractPrice" placeholder="10,000">
                                                                              <span asp-validation-for="OtherFoundationContractPrice" class="text-danger"></span>
                                    
                                    </div>
                                </div>

                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="basicInput">Bir Önceki Sözleşme Bedeli</label>
                                        <input type="text" class="form-control intro" asp-for="PreviousConractPrice" placeholder="10,000" />
                                        @*<span asp-validation-for="PreviousCPTotal" class="text-danger"></span>*@
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="basicInput"> Bir Önceki Sözleşme Bedeli Güncellenmiş Tutarı </label>
                                        <input type="text" class="form-control intro" asp-for="PreviousCPTotal" placeholder="10,000" />
                                        @*<span asp-validation-for="PreviousCPTotal" class="text-danger"></span>*@
                                    </div>
                                </div>



                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="basicInput">Bir Önceki Yaklaşık Belediye</label>
                                        <input type="text" class="form-control intro" asp-for="PreviousOpproximateCoast" placeholder="10,000" />
                                        @*<span asp-validation-for="PreviousOpproximateCoast" class="text-danger"></span>*@
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label  for="basicInput">Bir Önceki Belediye Güncellenmiş Tutar</label>
                                        <input type="text" class="form-control intro" asp-for="PreviousOCTotal" placeholder="10,000" />
                                        @*   <span asp-validation-for="PreviousOCTotal" class="text-danger"></span>  *@
                                    </div>
                                </div>



                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="basicInput">İhale Sonrası Güncellenmiş Yaklaşık Belediye</label>
                                        <input type="text" class="form-control intro" asp-for="OpproximateCostAfterTender" placeholder="10,000" />
                                        @*<span asp-validation-for="OpproximateCostAfterTender" class="text-danger"></span> *@
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="basicInput">Sözleşme Bedeli</label>
                                        <input type="text" class="form-control intro" asp-for="Contratprice" placeholder="10,000" />
                                        <span asp-validation-for="Contratprice" class="text-danger"></span>
                                    </div>
                                </div>

                                @*ORANLAR*@


                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="basicInput"> Yapım İşleri İçin Yaklaşık Belediyete Kullanılan Analizlerin Oranı</label>
                                        <input type="text" class="form-control" asp-for="AnalysisRate" placeholder="10%" />
                                        @*<span asp-validation-for="AnalysisRate" class="text-danger"></span>*@
                                    </div>
                                </div>

                                
                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="basicInput">Yaklaşık Belediyete Kullanılan Resmi Yayınlamış Pozların Oranı </label>
                                        <input type="text" class="form-control" asp-for="PoseRate" placeholder="10%" />
@*                                        <span asp-validation-for="PoseRate" class="text-danger"></span>
*@                                    </div>
                                </div>

                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="basicInput">Yaklaşık Belediyete Kullanılan Piyasa Fiyat Araştırmalarının Oranı</label>
                                        <input type="text" class="form-control" asp-for="MarketResearchRate" placeholder="10%" />
                                        <span asp-validation-for="MarketResearchRate" class="text-danger"></span>

                                    </div>
                                </div>

                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="basicInput">Kırım Oranı</label>
                                        <input type="text" class="form-control" asp-for="KirimRate" placeholder="%10" />
@*                                        <span asp-validation-for="KirimRate" class="text-danger"></span>
*@                                    </div>
                                </div>
                                  @*ORANLAR END*@

                                <div class="col-xl-12 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="basicInput">İhale Katılan Firmalar ve Teklifleri</label>
                                        <textarea data-length="500" class="form-control char-textarea active" asp-for="TendererProposal" rows="3" placeholder="Bilgileri Giriniz.." style="color: rgb(78, 81, 84);"></textarea>
@*                                        <span asp-validation-for="KirimRate" class="text-danger"></span>
*@
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="basicInput">İhale Üzerinde Kalan Firmalar</label>
                                        <textarea data-length="500" class="form-control char-textarea active" asp-for="EnthusiastFoundation" rows="2" placeholder="Bilgileri Giriniz.." style="color: rgb(78, 81, 84);"></textarea>
                                        <span asp-validation-for="KirimRate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="basicInput">Puanlama</label>
                                        <input type="text" class="form-control" asp-for="Scor" />
                                        <span asp-validation-for="Scor" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="basicInput">Fiyat Farkı</label>
                                        <input type="text" class="form-control" asp-for="PriceDifference" />
                                       @* <span asp-validation-for="PriceDifference" class="text-danger"></span>*@
                                    </div>
                                </div>
@*                                <div class="col-xl-6 col-md-6 col-12">
                                    <div class="form-group">
                                       <label for="basicInput">İhalenin Geldiği Tarih</label>
                                        <input type="text" asp-for="TenderDateArrived" class="form-control date-mask" placeholder="2021-01-01" />
                                        <span asp-validation-for="TenderDateArrived" class="text-danger"></span>
                                    </div>
                                    </div>*@
                                    <div class="col-xl-12 col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="basicInput">İhale Durumu</label>
                                            <textarea class="form-control" asp-for="TenderState" rows="2" placeholder="İhale Durumu"></textarea>
                                            <span asp-validation-for="TenderState" class="text-danger"></span>
                                        </div>
                                    </div>
                                     <div class="col-xl-12 col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="basicInput">Diğer Açıklamalar</label>
                                            <textarea class="form-control" asp-for="OtherExplanation" rows="2" placeholder="İhale Durumu"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary mr-1 waves-effect waves-float waves-light">Kaydet</button>
                                        <a asp-action="TenderDetails" asp-controller="Tender" class="btn btn-outline-secondary">İptal</a>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>

    @section JsPageVendorSpecification
    {

    <script src="~/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="~/app-assets/vendors/js/forms/cleave/cleave.min.js"></script>
    <script type="text/javascript">
        $('.row').find($(".intro")).each(function() {
           
            new Cleave($(this), {
                numeral: true,
                numeralThousandsGroupStyle: 'thousand',
                numeralDecimalMark: ',',
                delimiter: '.'
            });
        });

    </script>
    @*  <script src="~/app-assets/vendors/js/forms/cleave/addons/cleave-phone.us.js"></script>*@
    }
    @section JsPageSpecification
    {
    <script src="~/app-assets/js/scripts/forms/form-tooltip-valid.js"></script>
    <script src="~/app-assets/js/scripts/forms/form-select2.js"></script>
    <script src="~/app-assets/js/scripts/forms/form-input-mask.js"></script>
    }


